body {
    background-color: aliceblue;
}

.university-card {
    font-family: 'Courier New', Courier, monospace;
    width: 1200px;
    height: 144px;
    background-color: blanchedalmond;
    border: solid 5px;
    border-radius: 2%;
    padding: 12px;
}

.title {
    padding-bottom: 30px;
}
table {
    width: 100%;
    table-layout: fixed;
}
.flag {
    position: relative;
    width: 150px;
    height: 100px;
}
th {
    width: 33%;
    text-align: center;
}