body {
    background-color: aliceblue;
}

.university-card {
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    background-color: blanchedalmond;
    border: solid 5px;
    border-radius: 2%;
    padding: 12px;
    margin-left: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.title {
    padding-bottom: 30px;
}

table {
    /* width: 100%; */
    width: 400px;
    table-layout: fixed;
}

th {
    width: 50%;
    text-align: center;
}